body { /*#131413 */
    background: linear-gradient(rgba(76, 175, 80) 0%, rgb(0, 0, 0) 100%); 
    background-attachment: fixed;
    color: white;
    font-family: Arial, sans-serif; 
    margin: 0;
    padding: 0;
  }

  .content {
    height: 2000px;
  }

  body.end-reached {
    background-image: #000000;
  }

  .container {
    background-color: black; 
    color: white; 
    padding: 40px; 
    position: absolute; 
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    text-align: center;
    border-radius: 10px;
    width: 400px; 
  }

  .top-bar {
    background-color: #000000; 
    padding: 10px 20px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
  }

.small-title {
    font-size: 1em; 
    display: inline-block; 
  }

  .center {
    text-align: center;
    padding: 20px 0;
  }

  .big-title {
    font-size: 2.5em; 
    position: relative;
    margin-bottom: 20px;
  }

  .big-title::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 80%;
    height: 2px;
    background-color: white;
    transform: translateX(-50%);
  }

  .login-button {
    background-color: #1DB954; 
    border: none;
    color: white; 
    padding: 10px 20px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer; 
    transition: all 0.3s ease; 
  }
