

  .content {
    height: 2000px;
  }

  .center{
    top: 35%;
  }

  body.end-reached {
    background-image: #000000;
  }

  .top-bar {
    background-color: #000000; 
    padding: 20px 20px; 
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4); 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    box-sizing: border-box; /* Include padding in the element's width */
  }

  .small-title {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
    padding: 0 0 0 30px; /* Add padding on the left to push text to the right */
    color: white;
    text-decoration: none;
  }

  .center {
    text-align: center;
    padding: 20px 0;
  }

  .big-title {
    font-size: 2.5em; 
    position: relative;
    margin-bottom: 20px;
  }

  .big-title::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 80%;
    height: 2px;
    background-color: white;
    transform: translateX(-50%);
  }

  .login-button {
    background-color: #1ED760; 
    border: none;
    color: black; 
    font-weight: bold;
    padding: 10px 20px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer; 
    transition: all 0.3s ease; 
  }

.login-button:hover {
  transform: scale(1.05);
  background-color: #21e065;
}

  .input-container {
    display: grid;
    grid-template-columns: 1fr; 
    grid-gap: 10px;
    align-items: start; 
    justify-content: center; 
    text-align: left; 
  }

  .input-container input {
    width: 70%;
    height: 30px;
    padding: 8px;
    border: 1px solid #aaa;
    border-radius: 5px;
    font-size: 1em;
    background-color: #f2f2f2;
    transition: all 0.3s ease;
    color: black;
  }

  .input-container input:hover {
    transform: scale(1.05);
    background-color: #21e065;
  }

  .input-label {
    font-size: 0.8em;
    color: white;
  }

.password-toggle-button {
    background-color: transparent;
    border: 2px solid transparent;
    color: white;
    cursor: pointer;
    font-size: 1em;
    transition: all 0.3s ease;
    padding: 4px 8px;
    width: 40%;
    position: center;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  }

  .password-toggle-button:hover {
    filter: brightness(110%);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    transform: scale(1.05);
    border-color: white;
  }
